<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Registrar Equipo</title>
</head>
<body>

  <div class="header-section">
    <img src="../img/senaLogo.svg" alt="" id="logo">
  </div>
  <div class="title-section">
    <h1 id="title">Registrar Equipo</h1>
  </div>
  <div class="containerRegistrarEquipos">
    <form action="#" method="POST" class="form">
      <input type="text" placeholder="Placa">
      <input type="number" name="" id="" placeholder="Número de serie">
      <input type="text" placeholder="Nombre del equipo">
      <input type="text" name="" id="" placeholder="Modelo">
      <select name="Marca" id="marca-select">
        <option value="">--Área--</option>
        <option value="1">Marca #1</option>
        <option value="2">Marca #2</option>
        <option value="3">Marca #3</option>
      </select>
      <select name="Area" id="area-select">
        <option value="">--Marca--</option>
        <option value="1">Area #1</option>
        <option value="2">Area #2</option>
        <option value="3">Area #3</option>
      </select>
      <select name="Estado" id="estado-select">
        <option value="">--Estado--</option>
        <option value="1">Disponible</option>
        <option value="2">Mantenimiento</option>
        <option value="3">Prestado</option>
      </select>
      <select name="Area" id="area-select">
        <option value="">--Marca--</option>
        <option value="1">Area #1</option>
        <option value="2">Area #2</option>
        <option value="3">Area #3</option>
      </select>
    </form>
  </div>


</body>
</html>