body {
  padding: 0;
  margin: 0;
}


/* JULIANA INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

/* JULIANA FIN  */




/* SANTIAGO VALOIS INICIO HOME */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */


/* SANTIAGO VALOIS FIN  */




/* ---- */




/* JOHAN INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

/* JOHAN FIN  */




/* ---- */




/* ALEJANDRO CERON REGISTRAR EQUIPO INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

#logo {
  width: 100px;
  margin: 0;
  border: 1px solid black;
}

#title {
  margin-top: 0;
  border: 1px solid red;
  text-align: center;

}

.title-section {
  justify-content: center;
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
}

.containerRegistrarEquipos {
  text-align: center;
  margin: 200px;
  width: 90%;
}

.containerRegistrarEquipos form {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(4, 40%);
  gap: 10px;
}


/* ALEJANDRO CERON REGISTRAR EQUIPO FIN  */

/* ---- */




/* BRAHIAM LLANOS INHABILITAR EQUIPO INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

/* BRAHIAM LLANOS INHABILITAR EQUIPO FIN  */