body {
  padding: 0;
  margin: 0;
}


/* JULIANA INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

/* JULIANA FIN  */




/* SANTIAGO VALOIS INICIO HOME */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */


/* SANTIAGO VALOIS FIN  */




/* ---- */




/* JOHAN INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

/* JOHAN FIN  */




/* ---- */




/* ALEJANDRO CERON REGISTRAR EQUIPO INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

#logo {
  width: 70px;
  margin: 0;
}

#title {
  margin-top: 0;
  text-align: center;
  color: #addfcd;
  background-color: #004034;
  opacity: 60%;
  font-size: 56px;
  padding: 5px;
}

.title-section {
  justify-content: center;
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
}

.containerRegistrarEquipos {
  width: 500px;
  height: 600px;
  margin: 20px auto;
}

.containerRegistrarEquipos .formulario {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(1, 250px);
  grid-template-rows: repeat(4, 150px);
  align-items: center;
  justify-items: center;
}

.placa {
  grid-column-start: 0;
  grid-column-end: 1;
  /* background-color: yellow; */
}

#placa,
#numeroSerie,
#nombreEquipo,
#modelo,
#marca-select,
#area-select,
#estado-select,
#instructorACargo {
  width: 230px;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
}

.numeroSerie {
  grid-column-start: 1;
  grid-column-end: 2;
  /* background-color: black; */
}

.nombreEquipo {
  grid-column-start: 0;
  grid-column-end: 1;
  /* background-color: brown; */
}

.modelo {
  grid-column-start: 1;
  grid-column-end: 2;
  /* background-color: blue; */
}

.marca-select {
  grid-column-start: 0;
  grid-column-end: 1;
  /* background-color: aqua; */
}

.area-select {
  grid-column-start: 1;
  grid-column-end: 2;
  /* background-color: bisque; */
}

.estado-select {
  grid-column-start: 0;
  grid-column-end: 1;
  /* background-color: blueviolet; */
}


.instructorCargo {
  grid-column-start: 1;
  grid-column-end: 2;
  /* background-color: chocolate; */
}

#save,
#cancel {
  width: 30px;
  height: 30px;
}

button {
  border: none;
}



/* ALEJANDRO CERON REGISTRAR EQUIPO FIN  */

/* ---- */




/* BRAHIAM LLANOS INHABILITAR EQUIPO INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

/* BRAHIAM LLANOS INHABILITAR EQUIPO FIN  */